link(rel="stylesheet" href="https://cdn.awema.pl/5cd207e2c94eb723c3307764a5693def/awema-pl/indigo-layout/v1.x.x/css/main.css")
link(rel="stylesheet" href="/css/main.css")
link(rel="stylesheet" href="https://cdn.awema.pl/5cd207e2c94eb723c3307764a5693def/awema-pl/awema-notify/v1.x.x/css/main.css")
script.
    const AWEMA_CONFIG = {
        key: '5cd207e2c94eb723c3307764a5693def',
        dev: true,
    }
script(src="/js/main.js" async defer)
script(src="https://cdn.awema.pl/5cd207e2c94eb723c3307764a5693def/awema-pl/awema-notify/v1.x.x/js/main.js" async defer)
script(src="https://cdn.awema.pl/5cd207e2c94eb723c3307764a5693def/awema-pl/base-js/v1.5.1/js/main.js" async defer)