.awema-spa-progress
    position: fixed
    z-index: 120
    top: 0
    width: 100%
    height: var(--spa_progress_height, $height)
    transform-origin: left center;
    background: var(--spa_progress_bg, $background)
